<a href="https://colab.research.google.com/github/Femonello/bootcamp-data-analytics/blob/main/Fernanda_Monello_WoMakers_Banco_de_dados_SQL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **Iniciando conexões drive e importações de bibliotecas**

In [12]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [95]:
# Importando banco de dados sqlite do drive

import sqlite3


db_path = '/content/drive/MyDrive/db_exercicio.db'

conn = sqlite3.connect(db_path)
cursor = conn.cursor()

In [94]:
#importando bibliotecas adicionais para uso nos exercícios
import random

### **Exercício 1**

Crie uma tabela chamada "alunos" com os seguintes campos: id (inteiro), nome (texto), idade (inteiro) e curso (texto).

In [6]:
# Criando tabela alunos

cursor.execute('CREATE TABLE alunos(id INT, nome VARCHAR(100), idade INT, curso VARCHAR(100))')

In [62]:
# EXTRA - consultando tabelas existentes no banco de dados (Feito com axilio de IA)
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")

# Buscando resultadso
tables = cursor.fetchall()

# exibindo resultados
for table in tables:
  print(table[0])

alunos
clientes

### **Exercício 2**
Insira pelo menos 5 registros de alunos na tabela que você criou no exercício anterior.

In [51]:
# Inserindo registros na tabela - Para fazê-lo de forma dinâmica vou usar um pouco do conhecimento de Python aprendido nas aulas anteriores


# Matriz com os dados das estudantes: [Nome, Idade, Curso]
estudantes = [
    ["Fernanda Monello", 36, "Data Analytics"],
    ["Marie Curie", 66, "Física e Química"],
    ["Ada Lovelace", 36, "Matemática e Computação"],
    ["Katherine Johnson", 101, "Matemática e Física"],
    ["Mae C. Jemison", 67, "Engenharia Química e Medicina"],
    ["Greta Thunberg", 19, "Meio Ambiente"],
    ["Hedy Lamarr", 85, "Engenharia e Telecomunicações"]
]



# Loop para inserir registros aleatórios
for i in range(len(estudantes)):  # Insere registros
  cursor.execute(f'INSERT INTO alunos (id, nome, idade, curso) VALUES ({i + 1}, "{estudantes[i][0]}", {estudantes[i][1]}, "{estudantes[i][2]}")')
  conn.commit()

### **Exercício 3: Consultas básicas**

In [52]:
#  Selecionar todos os registros da tabela "alunos"

estudantes = cursor.execute('SELECT * FROM alunos')

for estudante in estudantes:
  print(estudante)

(1, 'Fernanda Monello', 36, 'Data Analytics')
(2, 'Marie Curie', 66, 'Física e Química')
(3, 'Ada Lovelace', 36, 'Matemática e Computação')
(4, 'Katherine Johnson', 101, 'Matemática e Física')
(5, 'Mae C. Jemison', 67, 'Engenharia Química e Medicina')
(6, 'Greta Thunberg', 19, 'Meio Ambiente')
(7, 'Hedy Lamarr', 85, 'Engenharia e Telecomunicações')

In [53]:
# Selecionar o nome e a idade dos alunos com mais de 20 anos.

estudantes = cursor.execute('SELECT nome, idade FROM alunos WHERE idade > 20')

for estudante in estudantes:
  print(estudante)

('Fernanda Monello', 36)
('Marie Curie', 66)
('Ada Lovelace', 36)
('Katherine Johnson', 101)
('Mae C. Jemison', 67)
('Hedy Lamarr', 85)

In [56]:
# Selecionar os alunos do curso de "Engenharia" em ordem alfabética.

estudantes = cursor.execute('SELECT * FROM alunos WHERE curso LIKE "%Engenharia%" ORDER BY nome') #EXTRA - Selecionando os registros onde curso contém (%) engenharia

for estudante in estudantes:
  print(estudante)

(7, 'Hedy Lamarr', 85, 'Engenharia e Telecomunicações')
(5, 'Mae C. Jemison', 67, 'Engenharia Química e Medicina')

In [57]:
# Contar o número total de alunos na tabela

cursor.execute("SELECT COUNT(*) FROM alunos")
count = cursor.fetchone()[0]
print(f"Total de alunos: {count}")

Total de alunos: 7

### **Exercício 4: Atualização e remoção**

In [59]:
# Atualize a idade de um aluno específico na tabela.

cursor.execute('UPDATE alunos SET idade=37 where id=1') # Atualizando a idade do registro com id=1
conn.commit()


estudantes = cursor.execute('SELECT * FROM alunos') # Selecionando dados para exibição

for estudante in estudantes:
  print(estudante)

(1, 'Fernanda Monello', 37, 'Data Analytics')
(2, 'Marie Curie', 66, 'Física e Química')
(3, 'Ada Lovelace', 36, 'Matemática e Computação')
(4, 'Katherine Johnson', 101, 'Matemática e Física')
(5, 'Mae C. Jemison', 67, 'Engenharia Química e Medicina')
(6, 'Greta Thunberg', 19, 'Meio Ambiente')
(7, 'Hedy Lamarr', 85, 'Engenharia e Telecomunicações')

In [60]:
# Remova um aluno pelo seu ID.

cursor.execute('DELETE FROM alunos WHERE id=3') # excluindo aluno cujo id é 3
conn.commit()

estudantes = cursor.execute('SELECT * FROM alunos') # Selecionando dados para exibição

for estudante in estudantes:
  print(estudante)

(1, 'Fernanda Monello', 37, 'Data Analytics')
(2, 'Marie Curie', 66, 'Física e Química')
(4, 'Katherine Johnson', 101, 'Matemática e Física')
(5, 'Mae C. Jemison', 67, 'Engenharia Química e Medicina')
(6, 'Greta Thunberg', 19, 'Meio Ambiente')
(7, 'Hedy Lamarr', 85, 'Engenharia e Telecomunicações')

### **Exercício 5: Criar uma Tabela e Inserir Dados**

Crie uma tabela chamada "clientes" com os campos: id (chave
primária), nome (texto), idade (inteiro) e saldo (float). Insira alguns
registros de clientes na tabela

In [61]:
# Criando tabela alunos

cursor.execute('CREATE TABLE clientes(id INTEGER PRIMARY KEY, nome VARCHAR(100), idade INT, saldo FLOAT)')
conn.commit()

In [75]:
# Inserindo registros na tabela



# Matriz com os dados das clientes: [Nome, Idade]
cadastros_clientes = [
    ["Maria", 25],
    ["João", 66],
    ["Ana", 36,],
    ["Junior", 30],
    ["José", 17],
    ["Adalberto", 19],
    ["Mario", 85]
]


# Loop para inserir registros aleatórios
for i in range(len(cadastros_clientes)):  # Insere registros
  cursor.execute(f'INSERT INTO clientes (id, nome, idade, saldo) VALUES ({i + 1}, "{cadastros_clientes[i][0]}", {cadastros_clientes[i][1]}, "{random.randrange(0,10000)}")')
  conn.commit()

In [76]:
lista = cursor.execute('SELECT * FROM clientes')

for cliente in lista:
  print(cliente)

(1, 'Maria', 25, 1935.0)
(2, 'João', 66, 2505.0)
(3, 'Ana', 36, 8039.0)
(4, 'Junior', 30, 2926.0)
(5, 'José', 17, 2723.0)
(6, 'Adalberto', 19, 6446.0)
(7, 'Mario', 85, 3771.0)

### **Exercício 6: Consultas e Funções Agregadas**

In [77]:
# Selecione o nome e a idade dos clientes com idade superior a 30 anos

selecao = cursor.execute('SELECT nome, idade FROM clientes WHERE idade > 30')

for cliente in selecao:
  print(cliente)

('João', 66)
('Ana', 36)
('Mario', 85)

In [85]:
# Calcule o saldo médio dos clientes

cursor.execute('SELECT AVG(saldo) FROM clientes')
saldo_medio = cursor.fetchone()[0] #Retornando a primeira linha e acessando o primeiro valor da tupla
print(f"Saldo médio dos clientes: {saldo_medio:.2f}")

Saldo médio dos clientes: 4049.29

In [88]:
# Encontre o cliente com o saldo máximo

cursor.execute('SELECT nome, saldo FROM clientes WHERE saldo = (SELECT MAX(saldo) FROM clientes)')
cliente_max_saldo = cursor.fetchone()

print(f"O maior saldo é: \n{cliente_max_saldo}")

O maior saldo é:
('Ana', 8039.0)

In [89]:
# Conte quantos clientes têm saldo acima de 1000

cursor.execute('SELECT COUNT(*) FROM clientes WHERE saldo>1000')
resultado = cursor.fetchone()
print(f'Número de clientes com saldo acima de R$1000: {resultado[0]}')

Número de clientes com saldo acima de R$1000: 7

### **Exercício 7: Atualização e Remoção com Condições**

In [91]:
#  Atualize o saldo de um cliente específico.

cursor.execute('UPDATE clientes SET saldo=999.99 WHERE id=1')
conn.commit()

lista = cursor.execute('SELECT * FROM clientes')

for cliente in lista:
  print(cliente)

(1, 'Maria', 25, 999.99)
(2, 'João', 66, 2505.0)
(3, 'Ana', 36, 8039.0)
(4, 'Junior', 30, 2926.0)
(5, 'José', 17, 2723.0)
(6, 'Adalberto', 19, 6446.0)
(7, 'Mario', 85, 3771.0)

In [92]:
# Remova um cliente pelo seu ID.

cursor.execute('DELETE FROM clientes WHERE id=5')
conn.commit()

lista = cursor.execute('SELECT * FROM clientes')

for cliente in lista:
  print(cliente)

(1, 'Maria', 25, 999.99)
(2, 'João', 66, 2505.0)
(3, 'Ana', 36, 8039.0)
(4, 'Junior', 30, 2926.0)
(6, 'Adalberto', 19, 6446.0)
(7, 'Mario', 85, 3771.0)

### **Exercício 8: Junção de Tabelas**

Crie uma segunda tabela chamada "compras" com os campos: id
(chave primária), cliente_id (chave estrangeira referenciando o id
da tabela "clientes"), produto (texto) e valor (real). Insira algumas
compras associadas a clientes existentes na tabela "clientes".
Escreva uma consulta para exibir o nome do cliente, o produto e o
valor de cada compra.

In [93]:
# Criando tabela compras

cursor.execute('CREATE TABLE compras(id INTEGER PRIMARY KEY, cliente_id INT, produto VARCHAR(100), valor FLOAT)')
conn.commit()

In [99]:
# Inserindo compras na tabela

#Criando matriz com dados de compras (cliente_id, produto e valor)
compras = [
    [random.randint(1,7), "Quadro", random.randrange(10000,50000)],
    [random.randint(1,7),"Grupo de transmissão", random.randrange(10000,50000)],
    [random.randint(1,7),"Câmbio traseiro", random.randrange(10000,50000)],
    [random.randint(1,7),"Câmbio dianteiro", random.randrange(10000,50000)],
    [random.randint(1,7),"Cassette", random.randrange(10000,50000)],
    [random.randint(1,7),"Pedivela", random.randrange(10000,50000)],
    [random.randint(1,7),"Guidão", random.randrange(10000,50000)],
    [random.randint(1,7),"Mesa", random.randrange(10000,50000)],
    [random.randint(1,7),"Freios a disco", random.randrange(10000,50000)],
    [random.randint(1,7),"Freios a disco", random.randrange(10000,50000)],
    [random.randint(1,7),"Pedivela", random.randrange(10000,50000)],
    [random.randint(1,7), "Quadro", random.randrange(10000,50000)]
]

for i in range(len(compras)):
  cursor.execute(f'INSERT INTO compras (id, cliente_id, produto, valor) VALUES ({i + 1}, {compras[i][0]}, "{compras[i][1]}", {compras[i][2]})')
  conn.commit()

In [100]:
cursor.execute('SELECT * FROM compras')

for compra in cursor.fetchall():
  print(compra)

(1, 5, 'Quadro', 36464.0)
(2, 1, 'Grupo de transmissão', 35169.0)
(3, 1, 'Câmbio traseiro', 35396.0)
(4, 6, 'Câmbio dianteiro', 22783.0)
(5, 4, 'Cassette', 37191.0)
(6, 2, 'Pedivela', 41601.0)
(7, 5, 'Guidão', 11745.0)
(8, 1, 'Mesa', 39549.0)
(9, 3, 'Freios a disco', 42095.0)
(10, 6, 'Freios a disco', 15372.0)
(11, 6, 'Pedivela', 22595.0)
(12, 6, 'Quadro', 40410.0)

In [104]:
# consulta para exibir o nome do cliente, o produto e o valor de cada compra

resultado = cursor.execute('SELECT clientes.nome, compras.produto, compras.valor FROM compras INNER JOIN clientes ON compras.cliente_id = clientes.id')

for linha in resultado:
  print(linha)

('Maria', 'Grupo de transmissão', 35169.0)
('Maria', 'Câmbio traseiro', 35396.0)
('Adalberto', 'Câmbio dianteiro', 22783.0)
('Junior', 'Cassette', 37191.0)
('João', 'Pedivela', 41601.0)
('Maria', 'Mesa', 39549.0)
('Ana', 'Freios a disco', 42095.0)
('Adalberto', 'Freios a disco', 15372.0)
('Adalberto', 'Pedivela', 22595.0)
('Adalberto', 'Quadro', 40410.0)